<include file="Public:_meta"/>
<title>添加专业</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" >
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>专业名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="请输入专业名" id="name">
		</div>	
	</div>

	<div class="row cl">
	<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>最大选课数：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="number" class="input-text" placeholder="请输入最大选课数量" id="num">
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius tj" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

</body>
</html>
<include file="Public:_footer"/>
<script type="text/javascript">
	$('.tj').click(function(){
		var name = $("#name").val();
		var num = $("#num").val();
		if(!name){
			layer.msg("请输入专业名！");
			return;
		}
		if(!num){
			layer.msg("请输入最大选课数量！");
			return;
		}
		 $.ajax({url:"{:U('add')}",type:"post",data:{'name':name,'maxnums':num},success:function(res){
		 		if(res.code == 1){
		 			layer.msg(res.msg, {
					  icon: 1,
					  time: 1000 //1秒关闭（如果不配置，默认是3秒）
					}, function(){
					  parent.location.reload();
					}); 
		 		}else if(res.code == 2){
		 			layer.msg(res.msg, {
					  icon: 2,
					  time: 1000 //1秒关闭（如果不配置，默认是3秒）
					});
		 		}
	    	}}); 
	});
</script>