<include file="Public:head"/> 
<style type="text/css">
.xiugai{
    width: 700px;
    height: 500px;
    margin: auto;
    margin-left: 200px;
}

</style>       
<h2 class="mbx">个人信息 &gt; 修改密码 &nbsp;&nbsp;&nbsp;</h2>       
<div class="morebt" style="padding-top: 0px;">
</div>
<div class="cztable">
    <div class="xiugai">
    用户名：&nbsp;&nbsp;&nbsp;<span style="margin-bottom: 10px;">{$id}</span><br>
    原密码：&nbsp;&nbsp;&nbsp;<input type="password" id="oripwd" style="margin-bottom: 10px;"><br>
    新密码：&nbsp;&nbsp;&nbsp;<input type="password" id="newpwd" style="margin-bottom: 10px;"><br>
    确认密码：<input type="password" id="newpwd2"><br>
    <input type="button" value="提交" class="btn btn-success" id="button2" style="margin-left: 106px;margin-top: 20px;">
    </div>
</div>

            </div>
        </div>
        
    </div>
</body>
</html>
<script type="text/javascript">
    $('#button2').click(function(){
        var id = {$id};
        var type = {$type};
        var oripwd = $('#oripwd').val();
        var newpwd = $('#newpwd').val();
        var newpwd2 = $('#newpwd2').val();
        if (newpwd != newpwd2) {
              layer.msg('两次密码输入不相符！', {
                      icon: 2,
                      time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    }, function(){
                      $('#newpwd2').focus();
                    }); 
              return false;
        } 
        $.ajax({url:"{:U('/common/editpass')}",type:"post",data:{'id':id,'oripwd':oripwd,'newpwd':newpwd,'type':type},success:function(res){
                if(res.code == 1){
                    layer.msg('修改成功！', {
                      icon: 1,
                      time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    }, function(){
                      location.reload();
                    });    
                }else if(res.code == 2){
                    layer.msg(res.msg,{icon: 2,time: 1000});
                }else if(res.code == 3){
                    layer.msg(res.msg,{icon: 2,time: 1000});
                }
            }}); 
    });

</script>
