<include file="Public:head"/>        
<h2 class="mbx">个人信息 &gt; 个人信息 &nbsp;&nbsp;&nbsp;</h2>       
<div class="morebt" style="padding-top: 0px;">
<ul id="ulStudMsgHeadTab">
    <li><a class="tab1" onclick="" href="{:U('Index/index')}">个人信息</a> </li>
    <li><a class="tab2" onclick="" href="{:U('Index/edit',array('id',$data['id']))}">修改信息</a> </li>
    <li><a class="tab2" onclick="" href="{:U('common/permiss',array('code'=>3))}">在线选课</a></li>
    <li><a class="tab2" onclick="" href="{:U('Index/myclass')}">我的课程</a></li>
</ul>
</div>
<div class="cztable">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="right" width="80">姓名：</td>
            <td width="260">{$data.realname}&nbsp;</td>
            <td align="right" width="90">学号：</td>
            <td>{$data.stu_id}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">性别：</td>
            <td>{$data.sex}&nbsp;</td>
            <td align="right">专业：</td>
            <td>{$data.name}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">手机：</td>
            <td>{$data.phone}&nbsp;</td>
            <td align="right">邮箱：</td>
            <td>{$data.email}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">注册时间：</td>
            <td>{$data.add_time|date="Y-m-d H:i:s",###}&nbsp;</td>
            <td align="right">入学时间:</td>
            <td>{$data.regis_time|date="Y-m-d H:i:s",###}</td>
        </tr>
        <tr>
            <td align="right">已选课程：</td>
            <td>{$yixuan}</td>
            <td align="right">待选课程：</td>
            <td>{$rest_num}</td>
        </tr>
        <tr align="center">
            <td colspan="5" height="30">
                <div align="center">
                    <a href="{:U('edit')}">
                    <button class="btn btn-default">修改信息</button>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>

            </div>
        </div>
        
    </div>
</body>
</html>


