<include file="Public:_meta"/>
<title>添加学生</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" >
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>教工号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="请输入用户名" id="name" name="teach_id">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="请输入密码" id="password" name="password">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="sex" type="radio" id="sex-1" value="男" checked >
				<label for="sex-1">男</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="sex-2" name="sex" value="女">
				<label for="sex-2">女</label>
			</div>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="请输入真实姓名" id="realname" name="realname">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="请输入手机号" id="phone" name="phone">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="请输入邮箱号码" name="email" id="email">
		</div>
	</div>

	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius tj" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

</body>
</html>
<include file="Public:_footer"/>
<script type="text/javascript">
	$('.tj').click(function(){
		var name = $("#name").val();
		var password = $("#password").val();
		var phone = $("#phone").val();
		var email = $("#email").val();
		var realname = $("#realname").val();
		var sex=$('input:radio:checked').val();
		if(!name){
			layer.msg("请输入学生账号！");
			return;
		}
		if(!password){
			layer.msg("请输入密码！");
			return;
		}
		if(!phone){
			layer.msg("请输入手机号！");
			return;
		}
		if(!email){
			layer.msg("请输入邮箱账号！");
			return;
		}
		 $.ajax({url:"{:U('add')}",type:"post",data:{'teach_id':name,'password':password,'phone':phone,realname:realname,'email':email,'sex':sex},success:function(res){
		 		if(res.code == 1){
		 			layer.msg(res.msg, {
					  icon: 1,
					  time: 1000 //1秒关闭（如果不配置，默认是3秒）
					}, function(){
					  parent.location.reload();
					}); 
		 		}else if(res.code == 2){
		 			layer.msg(res.msg, {
					  icon: 2,
					  time: 1000 //1秒关闭（如果不配置，默认是3秒）
					});
		 		}
	    	}}); 
	});
</script>