<include file="Public:_meta"/>
<title>系统日志</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	系统管理
	<span class="c-gray en">&gt;</span>
	系统日志
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
			<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
		</a> 
		</span>
		<span class="r">共有数据：<strong>{$count}</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-bg table-hover table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="17%">用户名</th>
				<th width="120">客户端IP</th>
				<th width="120">时间</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="data" id="vo">
			<tr class="text-c">
				<td><input type="checkbox" value="{$vo.id}" class="dels"></td>
				<td>{$vo['id']}</td>
				<td>{$vo['username']}</td>
				<td>{$vo['ip']}</td>
				<td><php>echo date("Y-m-d H:i:s",$vo['login_time']) </php></td>
				<td>
					<a title="删除" href="javascript:;" data-id="{$vo.id}" class="ml-5 del" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
	<div class="pagination ue-clear">
    <div class="pagin-list">
        {$show}
    </div>
    <div class="pxofy">显示第 1 条到 {$count}条记录，总共{$count}条记录</div>
	</div>
	<div id="pageNav" class="pageNav"></div>
</div>
</body>
</html>
<include file="Public:_footer"/>
<script type="text/javascript">
/*用户-删除*/
$('.del').click(function(){
	var id = $(this).data('id');
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type:'post',
			url: '{:U('del')}',
			dataType: 'json',
			data:{'id':id},
			success: function(res){
				if(res.code == 1){
					layer.alert('删除成功!', function(index){
					  window.location.reload();
					});  					
				}else{
					layer.msg('删除失败!',{icon:2,time:2000});
				}	
			},
		});		
	});
});

function datadel(){
	var obj = $('.dels');
	check_val = [];
    for(k in obj){
        if(obj[k].checked)
            check_val.push(obj[k].value);
    }
    var id_str = check_val.join(",");
    layer.confirm('确认要删除吗？',function(index){
    	$.ajax({url:"{:U('batch_del')}",type:"post",data:{'id_str':id_str},success:function(res){
	 		if(res.code == 1){
	 			layer.alert(res.msg, function(index){
				  window.location.reload();
				}); 
	 		}else if(res.code == 2){
	 			layer.msg(res.msg,{icon:2});
	 		}
    	}}); 
    });  
}
</script>