<include file="Public:_meta"/>
<title>添加课程</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" >
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>课程名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="请输入课程名" id="name">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学分：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="number" class="input-text" placeholder="请输入课程学分" id="credit">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>可选人数：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="number" class="input-text" placeholder="请输入可选人数" id="tol_nums">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所属专业：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="selA">
               <option value="">请选择</option>
               <volist name="data" id="vo">
               <option value="{$vo.id}">{$vo.name}</option>
               </volist>
        	  </select>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上课老师：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="selD">
               <option value="">请选择</option>
               <volist name="data1" id="vo">
               <option value="{$vo.id}">{$vo.realname}</option>
               </volist>
        	  </select>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上课地点：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="上课地点,格式例:3302(3教302教室)" id="cla_place">
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上课时间：</label>
		<div class="formControls col-xs-8 col-sm-9">
        星期：<select id="selB">
               <option value="">请选择</option>
               <option value ="一">一</option>     
               <option value ="二">二</option>     
               <option value ="三">三</option>     
               <option value ="四">四</option>     
               <option value ="五">五</option>     
               <option value ="六">六</option>     
               <option value ="日">日</option>     
        	  </select>
        课节：<select id="selC">
               <option value="">请选择</option>
               <option value ="一二">一二</option>    
               <option value ="三四">三四</option>    
               <option value ="五六">五六</option>    
               <option value ="七八">七八</option>    
               <option value ="九十">九十</option>      
        	   </select>
		</div>
	</div>

	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius tj" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

</body>
</html>
<include file="Public:_footer"/>
<script type="text/javascript">
	$('.tj').click(function(){
		var name = $("#name").val();
		var credit = $("#credit").val();
		var tol_nums = $("#tol_nums").val();
		// var les_teacher = $("#les_teacher").val();
		var cla_place = $("#cla_place").val();
		var major_id = $("#selA option:selected").val();
		var teach_id = $("#selD option:selected").val();
		var weekdays = $("#selB option:selected").val();
		var jieci = $("#selC option:selected").val();
		if(!name){
			layer.msg("请输入课程名！");
			return;
		}
		if(!credit){
			layer.msg("请输入课程学分！");
			return;
		}
		if(!tol_nums){
			layer.msg("请输入可选人数！");
			return;
		}
		if(!teach_id){
			layer.msg("请输入任课老师！");
			return;
		}
		if(!cla_place){
			layer.msg("请输入上课地点！");
			return;
		}
		if(!major_id){
			layer.msg("请选择所属专业！");
			return;
		}
		if(!weekdays){
			layer.msg("请选择星期！");
			return;
		}
		if(!jieci){
			layer.msg("请选择节次！");
			return;
		}
		 $.ajax({url:"{:U('add')}",type:"post",data:{'name':name,'credit':credit,'tol_nums':tol_nums,'major_id':major_id,'teach_id':teach_id,'cla_place':cla_place,'weekdays':weekdays,'jieci':jieci},success:function(res){
		 		if(res.code == 1){
		 			layer.msg(res.msg, {
					  icon: 1,
					  time: 1000 //1秒关闭（如果不配置，默认是3秒）
					}, function(){
					  parent.location.reload();
					}); 
		 		}else if(res.code == 2){
		 			layer.msg(res.msg, {
					  icon: 2,
					  time: 1000 //1秒关闭（如果不配置，默认是3秒）
					});
		 		}
	    	}}); 
	});
</script>