<include file="Public:_meta"/>
<title>修改密码</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学号：</label>
			<div class="formControls col-xs-8 col-sm-9"> {$data.stu_id} </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" data-id={$data.id} autocomplete="off" placeholder="请输入新密码！" name="newpassword" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="请再次输入密码" name="newpassword2" id="newpassword2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" id="tj" type="button" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

</body>
</html>
<include file="Public:_footer"/>
<script type="text/javascript">
	$('#tj').click(function(){
		var id = $('#newpassword').data('id');
		var newpassword = $('#newpassword').val();	
		var newpassword2 = $('#newpassword2').val();
		if(!newpassword){
			layer.msg("请输入新密码！");
			return;
		}
		if(newpassword !=newpassword2){
			layer.msg("两次输入密码不一致！");
			return;
		}
		$.ajax({url:"{:U('change_password')}",type:"post",data:{'id':id,'newpassword':newpassword,'newpassword2':newpassword2},success:function(res){
		 		if(res.code == 1){  
					layer.msg('修改成功！', {
					  icon: 1,
					  time: 1000 //1秒关闭（如果不配置，默认是3秒）
					}, function(){
					  parent.location.reload();
					});   
		 		}else if(res.code == 2){
		 			layer.msg('修改失败！',{icon: 2,time: 1000});
		 		}
	    	}}); 
	});

</script>