<include file="Public:head"/> 
<style type="text/css">
        *{
            margin: 0;
            padding: 0;
        }
        input{
            border:0;
        }
    </style>       
<h2 class="mbx">个人信息 &gt; 修改信息 &nbsp;&nbsp;&nbsp;</h2>       
<div class="morebt" style="padding-top: 0px;">
<ul id="ulStudMsgHeadTab">
    <li><a class="tab2" onclick="" href="{:U('Teacher/index')}">个人信息</a> </li>
    <li><a class="tab1" onclick="" href="{:U('Teacher/edit')}">修改信息</a> </li>
    <li><a class="tab2" onclick="" href="{:U('Teacher/myclass')}">我的课程</a></li>
</ul>
</div>
<div class="cztable">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="right" width="80">姓名：</td>
            <td width="260"><input type="text" value="{$data.realname}" class="realname">&nbsp;</td>
            <td align="right" width="90">教工号：</td>
            <td>{$data.teach_id}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">性别：</td>
            <td>
            <if condition="$data['sex'] eq '男'">
                <input name="sex" type="radio" id="sex-1" value="男" checked>男
                <input type="radio" id="sex-2" name="sex" value="女">女
            <elseif condition="$data['sex'] eq '女'" />
                <input class="sex" type="radio" value="男">男
                <input type="radio" class="sex" value="女" checked>女
            <else/>
                <input type="radio" class="sex" value="男">男
                <input type="radio" class="sex" value="女">女
            </if>
            </td>
            <td align="right">注册时间：</td>
            <td>{$data.add_time|date="Y-m-d H:i:s",###}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">手机：</td>
            <td><input type="text" value="{$data.phone}" class="phone">&nbsp;</td>
            <td align="right">邮箱：</td>
            <td><input type="text" value="{$data.email}" class="email">&nbsp;</td>
        </tr>
        <tr align="center">
            <td colspan="5" height="40">
                <div align="center">
                    <input type="button" id="button2" value="确定修改" class="btn btn-success" />
                </div>
            </td>
        </tr>
    </table>
</div>

            </div>
        </div>
        
    </div>
</body>
</html>
<script type="text/javascript">
    $('#button2').click(function(){
        var id = {$data.id};
        var realname = $('.realname').val();
        var sex=$('input:radio:checked').val();
        var major_id = $('.major option:selected').val();
        var phone = $('.phone').val();
        var email = $('.email').val();
        var re = /^1\d{10}$/ ;
        var reg = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/;
        if (!re.test(phone)) {
              layer.msg('手机号格式不正确！', {
                      icon: 2,
                      time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    }, function(){
                      $('.phone').focus();
                    }); 
              return false;
        } 
        if (!reg.test(email)) {
              layer.msg('邮箱格式不正确！', {
                      icon: 2,
                      time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    }, function(){
                      $('.email').focus();
                    }); 
              return false;
        } 
        $.ajax({url:"{:U('edit')}",type:"post",data:{'id':id,'realname':realname,'sex':sex,'phone':phone,'email':email,'major_id':major_id},success:function(res){
                if(res.code == 1){
                    layer.msg('修改成功！', {
                      icon: 1,
                      time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    }, function(){
                      location.reload();
                    });    
                }else if(res.code == 2){
                    layer.msg(res.msg,{icon: 2,time: 1000});
                }
            }}); 
    });

</script>
